streamlit
Pillow
numpy
pandas
# torch  # Required for YOLO and PyTorch model compatibility
ultralytics
opencv-python-headless>=4.5.5
torch --index-url https://download.pytorch.org/whl/cu118  
torchdivision --index-url https://download.pytorch.org/whl/cu118
torchaudio --index-url https://download.pytorch.org/whl/cu118
asyncio
cv2